.nav {
    display: flex;
    gap: 10px;
    margin-left: 100px;
}

.nav p {
    padding: 10px 10px 10px 10px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background: rgba(85, 82, 217, 0.08);
    color: rgb(110, 110, 255);
}

.nav a{
    padding: 10px;
    cursor: pointer;
}

.container{
    display: grid;
    background-color: rgb(238, 238, 238);
    width: 50px;
    text-align: center;
    border-radius: 30px;
    max-height: 350px;
    margin-left: 100px;
}

.container .h1{
    height: 40px;
    background-color: #fff;
    width: 40px;
    border-radius: 30px;
    margin-left: 4px;
}

.texts{
   display: grid;
   max-height: 370px;
}

.divs{
    display: flex;
    gap: 30px;
}

.inputs{
    display: grid;
    margin-left: 150px;
}

.inputs input{
    height: 30px;
    width: 290px;
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
}

.name{
    display: flex;
    gap: 10px;
    width: 100px;
}

.btn{
    cursor: pointer;
    display: grid;
}